// main: ../main.css

/* colors */

@color-1: #1e8bd3;
@color-2: #8a834f;
@color-3: #8a9a5a;
@color-4: #3b2b19;
@color-5: #dccf73;
@color-6: #8a9a5a;
@color-7: #3b2b19;
@color-8: #dccf73;
@color-9: #8a9a5a;
@color-10: #3b2b19;
@color-11: #dccf73;
@color-12: #8a9a5a;

/* z index */
